<template>
  <section id="companies-component">
    <mdc-list
      id="company-list"
      dense>
      <mdc-list-item
        v-for="item in _companyList"
        :key="item.id"
        class="list-item mdc-elevation mdc-elevation--z1">
        {{ item.name }}
        <mdc-button
          slot="end-detail"
          @click="toggleDetailDialog(item)">
          <mdc-icon icon="assignment" />
        </mdc-button>
        <mdc-button
          slot="end-detail"
          @click="toggleEditDialog(item)">
          <mdc-icon icon="edit" />
        </mdc-button>
      </mdc-list-item>
    </mdc-list>

    <!-- Add -->
    <mdc-dialog
      :accept-disabled="invalidateFields()"
      v-model="openAddDialog"
      scrollable
      title="Adicionar Empresa"
      accept="Adicionar"
      cancel="Cancelar"
      @accept="addCompany"
      @cancel="clearCompany">
      <section id="add-content">
        <section id="add-name">
          <mdc-textfield
            v-model="company.name"
            label="Nome"
            required
          />
        </section>
        <section id="add-phone">
          <div
            v-for="(phone, index) in company.phones"
            :key="index"
            class="add-multi">
            <mdc-textfield
              v-model="company.phones[index].number"
              label="Telefone"
              type="tel"
              required
            />
            <mdc-button
              v-if="company.phones.length > 1"
              dense
              outlined
              @click="company.phones.splice(index, 1)">
              <mdc-icon
                icon="remove"
              />
            </mdc-button>
          </div>
          <mdc-button
            outlined
            @click="company.phones.push(_phone())">
            Novo Telefone
          </mdc-button>
        </section>
        <section id="add-email">
          <div
            v-for="(email, index) in company.emails"
            :key="index"
            class="add-multi">
            <mdc-textfield
              v-model="company.emails[index].address"
              label="Email"
              type="email"
              required
            />
            <mdc-button
              v-if="company.emails.length > 1"
              dense
              outlined
              @click="company.emails.splice(index, 1)">
              <mdc-icon
                icon="remove"
              />
            </mdc-button>
          </div>
          <mdc-button
            outlined
            @click="company.emails.push(_email())">
            Novo Email
          </mdc-button>
        </section>
        <section id="add-employee">
          <div
            v-for="(employee, index) in company.employees"
            :key="index"
            class="add-multi">
            <mdc-select
              v-model="company.employees[index].contact.id"
              label="Contato Relacionado">
              <option
                v-for="(contact, index) in _contactList"
                :key="index"
                :value="contact.id">
                {{ contact.name }}
              </option>
            </mdc-select>
            <mdc-button
              v-if="company.employees.length > 1"
              dense
              outlined
              @click="company.employees.splice(index, 1)">
              <mdc-icon
                icon="remove"
              />
            </mdc-button>
          </div>
          <mdc-button
            outlined
            @click="company.employees.push(_employee())">
            Novo Contato
          </mdc-button>
        </section>
      </section>
    </mdc-dialog>

    <!-- Edit -->
    <mdc-dialog
      :accept-disabled="invalidateFields()"
      v-model="openEditDialog"
      scrollable
      title="Editar Empresa"
      accept="Editar"
      cancel="Cancelar"
      @accept="editCompany"
      @cancel="clearCompany">
      <section id="edit-content">
        <section id="edit-name">
          <mdc-textfield
            v-model="company.name"
            label="Nome"
            required
          />
        </section>
        <section id="edit-phone">
          <div
            v-for="(phone, index) in company.phones"
            :key="index"
            class="add-multi">
            <mdc-textfield
              v-model="company.phones[index].number"
              label="Telefone"
              type="tel"
              required
            />
            <mdc-button
              v-if="company.phones.length > 1"
              dense
              outlined
              @click="company.phones.splice(index, 1)">
              <mdc-icon
                icon="remove"
              />
            </mdc-button>
          </div>
          <mdc-button
            outlined
            @click="company.phones.push(_phone())">
            Novo Telefone
          </mdc-button>
        </section>
        <section id="edit-email">
          <div
            v-for="(email, index) in company.emails"
            :key="index"
            class="add-multi">
            <mdc-textfield
              v-model="company.emails[index].address"
              label="Email"
              type="email"
              required
            />
            <mdc-button
              v-if="company.emails.length > 1"
              dense
              outlined
              @click="company.emails.splice(index, 1)">
              <mdc-icon
                icon="remove"
              />
            </mdc-button>
          </div>
          <mdc-button
            outlined
            @click="company.emails.push(_email())">
            Novo Email
          </mdc-button>
        </section>
        <section id="edit-employer">
          <div
            v-for="(employee, index) in company.employees"
            :key="index"
            class="add-multi">
            <mdc-select
              v-model="company.employees[index].contact.id"
              label="Empresa Relacionada">
              <option
                v-for="(contact, index) in _contactList"
                :key="index"
                :value="contact.id">
                {{ contact.name }}
              </option>
            </mdc-select>
            <mdc-button
              v-if="company.employees.length > 1"
              dense
              outlined
              @click="company.employees.splice(index, 1)">
              <mdc-icon
                icon="remove"
              />
            </mdc-button>
          </div>
          <mdc-button
            outlined
            @click="company.employees.push(_employee())">
            Novo Contato
          </mdc-button>
        </section>
      </section>
    </mdc-dialog>

    <!-- Detail -->
    <mdc-dialog
      v-model="openDetailDialog"
      scrollable
      title="Detalhes da Empresa"
      accept="Fechar"
      @cancel="clearCompany">
      <section id="detail-content">
        <section id="detail-name">
          <mdc-textfield
            v-model="company.name"
            label="Nome"
            outlined
            disabled
          />
        </section>
        <section id="detail-phone">
          <div
            v-for="(phone, index) in company.phones"
            :key="index"
            class="detail-multi">
            <mdc-textfield
              v-model="company.phones[index].number"
              label="Telefone"
              type="tel"
              outlined
              disabled
            />
          </div>
        </section>
        <section id="detail-email">
          <div
            v-for="(email, index) in company.emails"
            :key="index"
            class="detail-multi">
            <mdc-textfield
              v-model="company.emails[index].address"
              label="Email"
              type="email"
              outlined
              disabled
            />
          </div>
        </section>
        <section id="detail-employer">
          <div
            v-for="(employee, index) in company.employees"
            :key="index"
            class="detail-multi">
            <mdc-textfield
              v-model="company.employees[index].contact.name"
              label="Contato Relacionado"
              outlined
              disabled
            />
          </div>
        </section>
      </section>
    </mdc-dialog>

    <mdc-fab
      icon="add"
      fixed
      @click="toggleAddDialog"
    />

    <section id="pagination">
      <mdc-fab
        id="pagination-previous"
        icon="keyboard_arrow_left"
        mini
        @click="previousPage"
      />
      <mdc-fab
        id="pagination-next"
        icon="keyboard_arrow_right"
        mini
        @click="nextPage"
      />
    </section>

    <mdc-snackbar v-model="snack" />
  </section>
</template>

<script>
import { mapState } from 'vuex'
import validateFetchResponse from '../validate-fetch-response.js'

export default {
  data: () => (
    {
      openAddDialog: false,
      openEditDialog: false,
      openDetailDialog: false,
      snack: null,
      company: {},
      start: 0
    }
  ),
  computed: mapState({
    _token: state => state.token,
    _responsible: state => state.responsible,
    _contactList: state => state.contactList,
    _companyList: state => state.companyList,
    _companyListLength: state => state.companyListLength
  }),
  created () {
    this.company = this._company()
    this.$store.dispatch(
      'GET_CONTACT_LIST',
      { token: this._token, start: 100 }
    )
    this.$store.dispatch(
      'GET_COMPANY_LIST',
      { token: this._token, start: this.start }
    )
  },
  mounted () {
    this.$el
      .querySelector('#pagination-previous')
      .setAttribute('disabled', '')
  },
  methods: {
    _company (options = {}) {
      const {
        id,
        entity = 'Company',
        name = '',
        emails = [this._email()],
        phones = [this._phone()],
        employees = [this._employees()]
      } = options
      return { id, entity, name, emails, phones, employees }
    },
    _email (options = {}) {
      const {
        id,
        entity = 'Email',
        address = ''
      } = options
      return { id, entity, address }
    },
    _phone (options = {}) {
      const {
        id,
        entity = 'Phone',
        number = ''
      } = options
      return { id, entity, number }
    },
    _employees (options = {}) {
      const {
        id,
        entity = 'Contact',
        contact = this._contact()
      } = options
      return { id, entity, contact }
    },
    _contact (options = {}) {
      const {
        id,
        entity = 'Contact',
        name = ''
      } = options
      return { id, entity, name }
    },

    fecthCompany (method = 'POST') {
      const url = `https://api.moskitcrm.com/v1/companies${method === 'PUT' ? `/${this.company.id}` : ''}`
      const hasEmployees = this.company.employees.map(employee => employee.contact.id) > 0
      return (
        fetch(
          url,
          {
            method,
            headers: {
              'Accept': (
                'application/json, application/xml, ' +
                'text/plain, text/html, ' +
                '*.*'
              ),
              'Content-Type': 'application/json;charset=UTF-8',
              'apikey': this._token
            },
            body: JSON.stringify({
              name: this.company.name,
              emails: this.company.emails,
              phones: this.company.phones,
              employees: hasEmployees ? this.company.employees : null,
              responsible: this._responsible
            }),
            mode: 'cors'
          }
        )
          .then(validateFetchResponse)
          .then(data => {
            this.$store.dispatch('GET_CONTACT_LIST', { token: this._token })
            this.$store.dispatch('GET_COMPANY_LIST', { token: this._token })
            return data
          })
      )
    },
    nextPage () {
      this.start += 10
      this.$store.dispatch(
        'GET_COMPANY_LIST',
        { token: this._token, start: this.start }
      )
      const nextButton = this.$el.querySelector('#pagination-next')
      const previousButton = this.$el.querySelector('#pagination-previous')
      if (this.start + 10 > this._companyListLength) {
        nextButton.setAttribute('disabled', '')
      }
      if (previousButton.hasAttribute('disabled')) {
        previousButton.removeAttribute('disabled')
      }
    },
    previousPage () {
      this.start -= 10
      this.$store.dispatch(
        'GET_COMPANY_LIST',
        { token: this._token, start: this.start }
      )
      const nextButton = this.$el.querySelector('#pagination-next')
      const previousButton = this.$el.querySelector('#pagination-previous')
      if (this.start === 0) {
        previousButton.setAttribute('disabled', '')
      }
      if (nextButton.hasAttribute('disabled')) {
        nextButton.removeAttribute('disabled')
      }
    },

    invalidateFields () {
      return (
        !this.company.name ||
        this.company.phones.filter(phone => !!phone.number).length === 0 ||
        this.company.emails.filter(email => !!email.address).length === 0
      )
    },

    toggleAddDialog () {
      this.openAddDialog = !this.openAddDialog
      this.company = this._company()
    },
    addCompany () {
      if (this.invalidateFields()) {
        return
      }
      this.fecthCompany()
        .then(res => {
          this.snack = { message: 'Empresa adicionado :)' }
          return res
        })
        .catch(err => {
          console.error(err)
          this.snack = { message: 'Ops, algo saiu errado :(' }
        })
    },

    toggleEditDialog (company) {
      this.openEditDialog = !this.openEditDialog
      this.company = this._company(company)
    },
    editCompany () {
      if (this.invalidateFields()) {
        return
      }
      this.fecthCompany('PUT')
        .then(res => {
          this.snack = { message: 'Empresa editada :)' }
          return res
        })
        .catch(err => {
          console.error(err)
          this.snack = { message: 'Ops, algo saiu errado :(' }
        })
    },

    toggleDetailDialog (company) {
      this.openDetailDialog = !this.openDetailDialog
      this.company = this._company(company)
    },

    clearCompany () {
      this.company = this._company()
    }
  }
}
</script>

<style lang="stylus">
  .mdc-dialog .mdc-dialog__surface
    min-width: 290px
    max-width: 295px

  .mdc-select .mdc-select__native-control
  .mdc-select .mdc-select__native-control
    padding-left 0 !important

  .mdc-select .mdc-floating-label
  .mdc-select .mdc-floating-label
    left 0 !important
</style>

<style lang="stylus" scoped>
  .list-item
    margin 8px 16px
    background-color #fff

  .list-item .mdc-button
    min-width 32px
    padding: 0
    margin-left 8px
  .list-item .mdc-button .material-icons
    margin: 0 6px 4px 0

  .add-multi
  .edit-multi
    display flex
    align-items center

  .add-multi .mdc-select
  .edit-multi .mdc-select
    margin 16px 0 8px 0
    background-color transparent

  .add-multi .mdc-button
  .edit-multi .mdc-button
    min-width 32px
    padding: 0
    margin 16px 0 0 16px

  .add-multi .mdc-button .material-icons
  .edit-multi .mdc-button .material-icons
    margin: 0 6px 4px 0

  #detail-content #detail-name > div
  #detail-content .detail-multi > div
    width 100%

  #company-list
    width 100%
    max-width 512px
    margin 4px auto 64px auto

  #pagination
    position fixed
    bottom 16px
    left 16px

  #pagination .mdc-fab[disabled]
    pointer-events none
    --mdc-theme-secondary: rgb(200, 200, 200)

  #pagination .mdc-fab:last-child
    margin-left 16px

  @media (min-width: 1024px)
    #pagination
      bottom 48px
      left 80px
</style>
