<template>
  <section>
    <mdc-card>
      <mdc-textfield
        id="token"
        v-model="token"
        label="Token"
      />
      <mdc-button
        id="singin"
        raised
        @click="validadeToken">
        Entrar
      </mdc-button>
    </mdc-card>
    <mdc-snackbar v-model="snack" />
  </section>
</template>

<script>
import { mapState } from 'vuex'
import validateFetchResponse from '../validate-fetch-response.js'

export default {
  data: () => (
    {
      snack: null,
      token: ''
    }
  ),
  computed: mapState({
    _token (state) {
      return state.token
    }
  }),
  created () {
    if (this._token) {
      this.$router.push('/contatos')
    }
  },
  methods: {
    validadeToken () {
      // '1526bd96-dfe4-4811-ac9f-f3e8e2e69991'
      fetch(
        'https://api.moskitcrm.com/v1/users',
        {
          method: 'GET',
          headers: {
            'Accept': (
              'application/json, application/xml, ' +
              'text/plain, text/html, ' +
              '*.*'
            ),
            'Content-Type': 'application/json;charset=UTF-8',
            'apikey': this.token
          },
          mode: 'cors'
        }
      )
        .then(validateFetchResponse)
        .then(response => {
          const activeUsers = response.results.filter(user => user.active)
          this.$store.commit('SET_TOKEN', this.token)
          this.$store.commit('SET_RESPONSIBLE', activeUsers[0])
          this.$router.push('/contatos')
          return this.token
        })
        .catch(err => {
          console.error(err)
          this.showSnackbar()
          return err
        })
    },
    showSnackbar () {
      this.snack = {
        message: 'Token inválido :('
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
  section
    display flex
    align-items center
    justify-content center
    width 100vw
    height calc(100vh - 128px)

  #token
    width 80vw
    max-width 512px
    margin 0 16px 16px 16px

  #singin
    width 128px
    margin 0 auto 16px auto
</style>
