<template>
  <section id="shell">
    <mdc-toolbar
      id="header"
      fixed>
      <mdc-toolbar-row>
        <mdc-toolbar-section align-start>
          <mdc-toolbar-title>Blanq Test</mdc-toolbar-title>
        </mdc-toolbar-section>
        <mdc-toolbar-section align-end>
          <mdc-button
            v-if="_token"
            id="signout"
            @click="signout">
            Sair
          </mdc-button>
        </mdc-toolbar-section>
      </mdc-toolbar-row>
      <mdc-toolbar-row
        v-if="_token"
        id="header-route">
        <mdc-tab-bar @change="onSelected">
          <mdc-tab :active="$route.path.includes('contatos')">Contatos</mdc-tab>
          <mdc-tab :active="$route.path.includes('empresas')">Empresas</mdc-tab>
        </mdc-tab-bar>
      </mdc-toolbar-row>
    </mdc-toolbar>
    <router-view id="content" />
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState({
    _token: state => state.token
  }),
  mounted () {
    if (!this._token) {
      this.$router.push('/login')
    }
  },
  methods: {
    signout () {
      this.$store.dispatch('SIGNOUT')
      this.$router.push('/login')
    },
    onSelected (route) {
      console.log(this.$router)
      switch (route) {
        case 0:
          this.$router.push('/contatos')
          break
        case 1:
          this.$router.push('/empresas')
          break
        default:
          this.$router.push('/login')
          break
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
  #shell
    display grid
    grid-template-rows 128px auto
    grid-template-columns auto
    grid-template-areas "shell-header" "shell-content"
    min-height 100vh

  #header
    grid-area shell-header

  #header-route
    min-height 48px

  #content
    grid-area shell-content

  #signout
    --mdc-theme-primary #fff
</style>
